* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    list-style: none;
}

*::-webkit-scrollbar {
    width: 0px;
}


body {
    background: #242424;

    a {
        text-decoration: none;
    }

    header {
        background: #333;
        display: flex;
        justify-content: space-between;
        padding: 15px 70px;
        align-items: center;
        font-weight: 300;
        position: fixed;
        box-sizing: border-box;
        width: 100vw;
        z-index: 1;
        top: 0;
        left: 0;
    
        svg {
            font-size: 20px;
            vertical-align: top;
            margin-right: 5px;
        }
    
        ul {
            display: flex;
            gap: 25px;
        }
    }
    
    section.messages {
        width: calc(100% - 100px);
        margin: 60px auto 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: calc(100vh - 125px);
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 0 15px;
    
        .message-box {
            background: #333;
            padding: 15px;
            border-radius: 5px;
            max-width: 500px;
            align-self: flex-end;
            position: relative;
            font-size: 15px;
    
            .author {
                font-weight: 500;
            }
    
            p {
                font-weight: 300;
            }
            
            &.left {
                align-self: flex-start;
            }
    
            &::after {
                content: '';
                width:0px;
                height: 0px;
                border-top:20px solid #333;
                border-radius: 5px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                position: absolute;
                top: 0;
                right: -15px;
            }
            
            &.left::after {
                left: -15px;
            }
        }
    }
    form#message {
        padding: 15px 25px;
        background: #333;
        display: flex;
        justify-content: center;
        gap: 20px;
        position: fixed;
        bottom:0;
        left: 0;
        width: 100vw;
        box-sizing: border-box;

        input {
            width: 90%;
            outline: none;
            border: none;
            background: #242424;
            padding: 10px 15px;
            border-radius: 5px;
        }

        svg {
            font-size: 25px;
            align-self: center;
            cursor: pointer;
        }
    }
}

